:root{
  --fox-red: #7C2128;
  --fox-gold: #c1a875;
  --fox-gold-bright: #E0C388;
  --fox-grey: #524a4a;
  --fox-white: #FFF;
  --black: #000027;
  --main-font: 'Great Vibes';
  --grass: #A1FFCE;
  --sun: #FAFFD1;
  --h1-size: 12rem;
  --p-size: 5rem;
  font-size: 1vw;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

@media screen and (min-width: 800px) {
  :root {
     font-size: 8px;
  }
}

.cursive {
  font-family: var(--main-font), cursive;
}

.divider {
  width: 80vw;
  height: 5vh;
}

.msg {
  color: var(--black);
  background:var(--grass);
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  text-align: center;
  -webkit-transition: visibility 5s, opacity 5s linear;
  transition: visibility 5s, opacity 5s linear;
}

.msg-text {
  margin: 0 auto;
  padding-top: 25vh;
  max-width: 900px;
}

.App {
  text-align: center;
  color: var(--black);
  font-family: 'Raleway', sans-serif;
  position: relative;
  background-color: var(--grass);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, var(--black)), color-stop(var(--grass)), to(var(--sun)));
  background: linear-gradient(to top, var(--black) 40%, var(--grass), var(--sun));
  background-size: 100% 200%;

  fill: var(--black);
  -webkit-transition: background-position 3s ease,  color 1s ease-out, fill 1s ease-out;
  transition: background-position 3s ease,  color 1s ease-out, fill 1s ease-out;
}

.App.darken {
  background-position: 0 100%;
  color: var(--fox-white);
  fill: var(--fox-white);
}

p {
  font-size: var(--p-size);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

.blue-font h1 {
  color: #95d7ef;
  -webkit-text-fill-color: transparent;
  background-image: url(https://www.publicdomainpictures.net/pictures/260000/nahled/metallic-blue-background.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
          background-clip: text;
  padding-top: .7rem;
  padding-bottom: .7rem;
}

.cItem {
  position: relative;
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 50vh;
  min-height: 200px;
  vertical-align: middle;
}

.info-hold {
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.intro {
  position: relative;
  height: 100vh;
  width: 100vw;
  min-height: 540px;
}

.intro h1 {
  font-size: 30rem;
}

.us h1 {
  font-size: 20rem;
}

.detail {
  position: relative;
  max-height:  20vh;
  max-width: 80vw;
}

.fox {
  padding: 2rem;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0vh;
  max-width: 100rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.fox-outer {
  position: relative;
  border: 1rem ridge var(--fox-red);
  z-index: 1;
}

.fox-neon {
  position: relative;
  background: black;
  border-top-style: solid;
  border-top-width: 6rem;
  border-right-style: solid;
  border-right-width: 6rem;
  border-bottom-style: solid;
  border-bottom-width: 6rem;
  border-left-style: solid;
  border-left-width: 6rem;
  -o-border-image: url(./img/fox-back-v1.png);
     border-image: url(./img/fox-back-v1.png);
  z-index: 1;
  -webkit-animation: foxblink .5s linear infinite;
          animation: foxblink .5s linear infinite;
  border-image-slice: 50;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: round;
}

@supports (-webkit-overflow-scrolling: touch) {
  .fox-neon {
    border-image-repeat: repeat;
  }
}

@-webkit-keyframes foxblink {
	0% {
    border-image-source: url(./img/fox-back-v1.png);
	}
	25% {
    border-image-source: url(./img/fox-back-v2.png);
  }
	50% {
    border-image-source: url(./img/fox-back-v3.png);
  }
  75% {
    border-image-source: url(./img/fox-back-v4.png);
  }
  100% {
    border-image-source: url(./img/fox-back-v1.png);
	}
}

@keyframes foxblink {
	0% {
    border-image-source: url(./img/fox-back-v1.png);
	}
	25% {
    border-image-source: url(./img/fox-back-v2.png);
  }
	50% {
    border-image-source: url(./img/fox-back-v3.png);
  }
  75% {
    border-image-source: url(./img/fox-back-v4.png);
  }
  100% {
    border-image-source: url(./img/fox-back-v1.png);
	}
}

.names {
  position: relative;
  border: 1rem solid var(--fox-red);
  font-size: var(--p-size);
  z-index: 2;
  background: var(--black);
  color: var(--fox-white);
}

.bYes {
  color: var(--black);
  background: var(--black);
}

.bYes:hover, .bYes:disabled {
  color: var(--black);
  background: var(--fox-gold-bright);
  border-color: var(--fox-red);
}

.bNo {
  color:var(--black);
  background: var(--black);
}

.bNo:hover, .bNo:disabled {
  color: var(--black);
  background: var(--fox-grey);
  border-color: var(--fox-red);
}

.ask {
  position: relative;
  height: 90%;
  top: 5%;
  border-color: var(--fox-red);
  border-width: 2px;
  color: var(--fox-white);
  width: 90%;
}

.drawer {
  overflow: hidden;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.drawer-show {
  display: block;
  opacity: 1;
}

.addr {
  position: relative;
  font-size: var(--p-size);
  max-width: 60rem;
  text-align: center;
  border: 1rem double var(--fox-red);
  background: var(--black);
}

.addr .form-control {
  font-size: 3rem;
}

.hotels {
  padding-top: 4rem;
}

.gold-text {
  color:var(--fox-gold-bright);
}

.rsvp-button {
  position: relative;
  padding-bottom: 25vh;
}

.rsvp-button .btn {
  font-size: var(--p-size);
  background-color: transparent;
  border-color: var(--fox-gold-bright);
}

.rsvp-button .btn:enabled {
  background-color: var(--fox-gold);
}

.hidden {
  visibility: hidden;
}
