:root {
  --pink: #ffdfd3;
  --blue: #c6e2e9;
  --gray: #898392;
  --green: #bce1db;
  --purple: #bbacc1;
}

.pink {
  background-color: var(--pink);
  color: #181514;
}
.blue {
  background-color: var(--blue);
  color: #121516;
}
.gray {
  background-color: var(--gray);
  color: #121514;
}
.green {
  background-color: var(--green);
  color: #111012;
}
.purple {
  background-color: var(--purple);
  color: #09080a;
}

.page-header h1 {
  font-size: 8.5vw;
}

.page-header {
  background-color: #b2afab;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header .filter::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.title-brand {
  z-index: 1;
  max-width: 512px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: #ffffff;
  display: block;
  font-family: 'anandfont';
}

.moving-clouds {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 200vw;
  height: 20vh;
  -webkit-animation: cloudLoop 80s linear infinite;
  animation: cloudLoop 80s linear infinite;
}

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.section {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 75vh;
  vertical-align: middle;
  text-align: center;
}

.section h2 {
  font-size: 2em;
}

@font-face {
  font-family: 'anandfont';
  src: url('./img/f1.ttf');
  /* src: url('./img/f2.ttf'); */
}

.map {
  height: 100%;
}
